/* js 임대하기 기능을 위한 최소 높이 css 설정 */
#right01 {
	min-height: 478px;
}
/*중복되는 css 제거하자 */
#teacherSpace input select {
	outline-color: #8E0032 !important;
}

#teacherSpace .inp-wrap:nth-child(1) {
	height: 81px;
}

#teacherSpace .inp-wrap:nth-child(1) span:nth-child(1) {
	display: block;
	height: 22px;
	color: #5b5b5b;
	font-size: 15px;
	margin: 0px 0px 8px;
	font-weight: 900;
}

#teacherSpace .inp-wrap:nth-child(1) select {
	width: 905px;
	height: 50px;
	background: white;
	padding: 0px 20px;
	font-weight: 900;
	color: #b7b7b7;
	font-size: 15px;
	font-family: 'Roboto', 'Noto Sans', 'Noto Sans KR', sans-serif;
	border: none;
}

#teacherSpace .inp-wrap:nth-child(1) option {
	font-family: 'Roboto', 'Noto Sans', 'Noto Sans KR', sans-serif;
	font-weight: 900;
	color: #b7b7b7;
	font-size: 15px;
	border: none;
}

#teacherSpace .inp-wrap:nth-child(2) {
	height: 123px;
}

#teacherSpace .inp-wrap:nth-child(2)>span {
	display: block;
	height: 22px;
	color: #5b5b5b;
	font-size: 15px;
	margin: 40px 0px 8px;
	font-weight: 900;
}

#right01 .inp-wrap:nth-child(2)>div {
	height: 50px;
	width: 905px;
	padding: 0px 32px 0px 12px;
	background: white;
}

#right01 .inp-wrap:nth-child(2)>div>span {
	font-size: 15px;
	height: 46px;
	color: #b7b7b7;
	display: inline-block;
	padding-top: 15px;
}
/*수용 인원  */
#teacherSpace .inp-wrap:nth-child(2) div>#capacityDiv {
	width: 736px;
	height: 46px;
	position: relative;
	top: -21px;
	/* background-color: yellow; */
	padding: 9px 0px;
	float: right;
	text-align: right;
}

#teacherSpace .inp-wrap:nth-child(2) div>#capacityDiv>button {
	overflow: hidden;
}

#teacherSpace .inp-wrap:nth-child(2) div>#capacityDiv>button>img {
	width: 56px;
	height: 56px;
	position: relative;
	border-radius: 14px;
	right: 28px;
}

#teacherSpace .inp-wrap:nth-child(2) div>#capacityDiv>button:nth-child(1)>img
	{
	right: 0px;
}

#teacherSpace .inp-wrap:nth-child(2) div>div button {
	width: 28px;
	height: 28px;
	/* background-color: pink; */
	padding: 0;
	border-radius: 14px;
}

#teacherSpace .inp-wrap:nth-child(2) div>div button:focus {
	outline: none;
}

#teacherSpace .inp-wrap:nth-child(2) div>div button img {
	width: 28px;
	height: 28px;
	margin: 0px;
	border-radius: 14px;
}

#teacherSpace .inp-wrap:nth-child(2) div>div button, span {
	/* position: relative;
          bottom: 25px; */
	margin: 0px;
}

#teacherSpace .inp-wrap:nth-child(2) div>div span {
	display: inline-block;
	width: 108px;
	height: 19px;
	font-size: 15px;
	color: #2e2e2e;
	text-align: center;
	position: relative;
	bottom: 8px;
}

#teacherSpace .inp-wrap:nth-child(3) {
	height: 120px;
}

#teacherSpace .inp-wrap:nth-child(3) span:nth-child(1) {
	display: block;
	height: 22px;
	color: #5b5b5b;
	font-size: 15px;
	margin: 0px 0px 8px;
	font-weight: 900;
}

#teacherSpace .inp-wrap:nth-child(3) input[type="text"] {
	width: 905px;
	padding: 0px 20px;
	background: rgba(255, 255, 255, 0.6);
	height: 50px;
	font-size: 15px;
	border: none;
	font-weight: 900;
}

#teacherSpace .inp-wrap:nth-child(3) input[type="text"]::placeholder {
	color: #b7b7b7;
}

#teacherSpace .inp-wrap:nth-child(3) input[type="text"]:focus {
	outline: none;
	border: 2px solid #8e0032;
}

#teacherSpace .inp-wrap:nth-child(4) {
	height: 120px;
}

#teacherSpace .inp-wrap:nth-child(4) span:nth-child(1) {
	display: block;
	height: 22px;
	color: #5b5b5b;
	font-size: 15px;
	margin: 0px 0px 8px;
	font-weight: 900;
}

#teacherSpace .inp-wrap:nth-child(4) span:nth-child(1)>span {
	color: #7f7f7f;
	font-size: 16px;
	height: 22px;
	float: right;
	font-weight: 500;
}

#teacherSpace .inp-wrap:nth-child(4) span:nth-child(1)>span em {
	font-style: normal;
}

#teacherSpace .inp-wrap:nth-child(4) input[type="text"] {
	width: 905px;
	padding: 0px 20px;
	background: rgba(255, 255, 255, 0.6);
	height: 50px;
	font-size: 15px;
	border: none;
	font-weight: 900;
}

#teacherSpace .inp-wrap:nth-child(4) input[type="text"]::placeholder {
	color: #b7b7b7;
}

#teacherSpace .inp-wrap:nth-child(4) input[type="text"]:focus {
	outline: none;
	border: 2px solid #8e0032;
}

#teacherSpace .inp-wrap:nth-child(5) {
	height: 81px;
}

#teacherSpace .inp-wrap:nth-child(5) span:nth-child(1) {
	display: block;
	height: 22px;
	color: #5b5b5b;
	font-size: 15px;
	margin: 0px 0px 8px;
	font-weight: 900;
}

#teacherSpace .inp-wrap:nth-child(5) span:nth-child(2) {
	display: inline-block;
	height: 50px;
	width: 905px;
	/* background-color: orange; */
}
#teacherSpace .inp-wrap:nth-child(10) select {
    width: 905px;
    height: 50px;
    background: white;
    padding: 0px 20px;
    font-weight: 900;
    color: #b7b7b7;
    font-size: 15px;
    font-family: 'Roboto', 'Noto Sans', 'Noto Sans KR', sans-serif;
    border: none;
}



#teacherSpace .inp-wrap:nth-child(5) span:nth-child(2) input[type="text"]::placeholder
	{
	color: #b7b7b7;
}

#teacherSpace .inp-wrap:nth-child(5) span:nth-child(2) input[type="text"]:focus
	{
	outline: none;
	border: 2px solid #8e0032;
}

#right01 .inp-wrap:nth-child(5) span:nth-child(2) img {
	margin: 0px;
	width: 20px;
	height: 20px;
}

#lay03spaceRegister2>#right01 .inp-wrap:nth-child(5) span:nth-child(2) button
	{
	margin: 0px;
	padding: 0px;
	width: 20px;
	height: 20px;
	float: right;
	position: relative;
	bottom: 35px;
	right: 20px;
}

#teacherSpace.inp-wrap:nth-child(5) span:nth-child(2) button:focus {
	outline: none;
}

#teacherSpace .inp-wrap:nth-child(6) {
	height: 700.5px;
	margin-top: 131px;
}

#teacherSpace .inp-wrap:nth-child(6)>span:nth-child(1) {
	display: block;
	height: 22px;
	color: #5b5b5b;
	font-size: 15px;
	margin: 40px 0px 8px;
	font-weight: 900;
}

#teacherSpace .inp-wrap:nth-child(6)>div {
	width: 905px;
	height: 650.5px;
	padding: 20px;
	background-color: white;
}

#teacherSpace .inp-wrap:nth-child(6)>div p {
	color: #b7b7b7;
	font-size: 15px;
	font-weight: 600;
}

#teacherSpace .inp-wrap:nth-child(6)>div>div:nth-child(2) {
	/* background-color: pink; */
	width: 427.5px;
	height: 294.91px;
	margin-top: 25px;
	padding-right: 5px;
	/* display: inline-block; */
	float: left;
}

#teacherSpace .inp-wrap:nth-child(6)>div>div:nth-child(2)>div:nth-child(1)
	{
	color: #5b5b5b;
	margin-bottom: 8px;
	font-size: 14px;
	display: inline-block;
	height: 20px;
	font-weight: 700;
}

#teacherSpace .inp-wrap:nth-child(6)>div>div:nth-child(2)>div:nth-child(2)
	{
	/* background-color: greenyellow; */
	width: 100%;
	height: 266.91px;
}

#teacherSpace .inp-wrap:nth-child(6)>div>div:nth-child(2)>div:nth-child(2) label
	{
	display: inline-block;
	width: 420.5px;
	padding: 239.91px 0px 0px;
	line-height: normal;
	/* vertical-align: middle; */
	cursor: pointer;
	/* background-color: white; */
	border: 0.5px dotted black;
}

#teacherSpace .inp-wrap:nth-child(6)>div>div:nth-child(2)>div:nth-child(2) input[type="file"]
	{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	border: 0;
}

#teacherSpace .inp-wrap:nth-child(6)>div>div:nth-child(2)>div:nth-child(2) label span
	{
	font-size: 19px;
	color: #838383;
	width: 106.44px;
	height: 79px;
	/* background-color: skyblue; */
	position: relative;
	bottom: 120px;
	left: 150px;
}

#teacherSpace .inp-wrap:nth-child(6)>div>div:nth-child(3) {
	/* background-color: pink; */
	width: 427.5px;
	height: 450.5px;
	margin-top: 25px;
	padding-left: 5px;
	display: inline-block;
}

#teacherSpace .inp-wrap:nth-child(6)>div>div:nth-child(3)>div:nth-child(2)
	{
	/* background-color: greenyellow; */
	width: 100%;
	height: 100%;
}

#right01 .inp-wrap:nth-child(6)>div>div:nth-child(3)>div:nth-child(2) label
	{
	display: inline-block;
	width: 420.5px;
	padding: 400.5px 0px 0px;
	line-height: normal;
	vertical-align: middle;
	cursor: pointer;
	/* background-color: white; */
	border: 0.5px dotted black;
}

#right01 .inp-wrap:nth-child(6)>div>div:nth-child(3)>div:nth-child(2) input[type="file"]
	{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	border: 0;
}

#right01 .inp-wrap:nth-child(6)>div>div:nth-child(3)>div:nth-child(2) label span
	{
	font-size: 19px;
	color: #838383;
	width: 106.44px;
	height: 79px;
	/* background-color: skyblue; */
	position: relative;
	bottom: 210px;
	left: 150px;
}

#teacherSpace .inp-wrap:nth-child(6)>div>div:nth-child(3)>div:nth-child(1)
	{
	color: #5b5b5b;
	margin-bottom: 8px;
	font-size: 14px;
	display: inline-block;
	height: 20px;
	font-weight: 700;
}
/* 9장 style */
#teacherSpace .inp-wrap:nth-child(7) {
	width: 905px;
	height: 273px;
	overflow-x: auto;
	overflow-y: hidden;
}
/* 스크롤바 설정 */
#teacherSpace .inp-wrap:nth-child(7)::-webkit-scrollbar {
	width: 4px;
	height: 12px;
}

#teacherSpace .inp-wrap:nth-child(7)::-webkit-scrollbar-track {
	background-color: white;
}

#teacherSpace .inp-wrap:nth-child(7)::-webkit-scrollbar-thumb {
	background-color: #8E0032;
	border-radius: 10px;
}

#teacherSpace .inp-wrap:nth-child(7)::-webkit-scrollbar-thumb:hover {
	background: #8E0032;
}

#teacherSpace .inp-wrap:nth-child(7)>span:nth-child(1) {
	display: block;
	height: 23px;
	color: #5b5b5b;
	font-size: 15px;
	margin: 0px 0px 8px;
	font-weight: 900;
}

#teacherSpace .inp-wrap:nth-child(7)>span:nth-child(1) small {
	color: #838383;
	font-size: 14px;
	padding-left: 8px;
}

#teacherSpace .inp-wrap:nth-child(7)>div {
	width: 230%;
	height: 110%;
	display: block;
	/* border: 1px solid black; */
}

#teacherSpace .inp-wrap:nth-child(7)>div>div {
	height: 195px;
	width: 195px;
	display: inline-block;
	/* background-color: seagreen; */
}

#teacherSpace .inp-wrap:nth-child(7)>div>div input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	border: 0;
}

#teacherSpace .inp-wrap:nth-child(7)>div>div label {
	display: inline-block;
	width: 195px;
	height: 195px;
	/* padding: 400.5px 0px 0px; */
	cursor: pointer;
	text-align: center;
	font-size: 50px;
	font-weight: 700;
	color: black;
	/* background-color: white; */
	background-color: white;
	/* border: 0.5px dotted black; */
}

#teacherSpace .inp-wrap:nth-child(8) {
	width: 905px;
	height: 410px;
}

#teacherSpace .inp-wrap:nth-child(8) span:nth-child(1) {
	display: block;
	height: 22px;
	color: #5b5b5b;
	font-size: 15px;
	margin: 40px 0px 8px;
	font-weight: 900;
}

#teacherSpace .inp-wrap:nth-child(8) textarea {
	width: 100%;
	height: 400px;
	padding: 20px;
	background: #ffffff;
	resize: none;
	border: none;
	text-align: left;
}

#teacherSpace .inp-wrap:nth-child(8) textarea:focus {
	border: 2px solid #8e0032;
	outline: none;
}

#teacherSpace .inp-wrap:nth-child(8) textarea::placeholder {
	font-size: 15px;
	color: lightgray;
	font-weight: bold;
}

#teacherSpace .inp-wrap:nth-child(9) {
	height: 180px;
}

#teacherSpace .inp-wrap:nth-child(9) span:nth-child(1) {
	display: block;
	height: 22px;
	color: #5b5b5b;
	font-size: 15px;
	margin: 40px 0px 8px;
	font-weight: 900;
}

#teacherSpace .inp-wrap:nth-child(9) textarea {
	width: 100%;
	height: 140px;
	padding: 20px;
	background: #ffffff;
	resize: none;
	border: none;
	text-align: left;
}

#teacherSpace .inp-wrap:nth-child(9) textarea:focus {
	border: 2px solid #8e0032;
	outline: none;
}

#teacherSpace .inp-wrap:nth-child(9) textarea::placeholder {
	font-size: 15px;
	color: lightgray;
	font-weight: bold;
}

#teacherSpace .inp-wrap:nth-child(10) {
	height: 236px;
}

#teacherSpace .inp-wrap:nth-child(10)>span:nth-child(1) {
	display: block;
	height: 22px;
	color: #5b5b5b;
	font-size: 15px;
	margin: 15px 0px 8px;
	font-weight: 900;
}

#teacherSpace .inp-wrap:nth-child(10)>#addressDiv {
	width: 905px;
	height: 166px;
	padding: 0;
	background-color: inherit;
}

#teacherSpace .inp-wrap:nth-child(10)>div>div {
	width: 100%;
	height: 50px;
	/* background-color: steelblue; */
}

#teacherSpace .inp-wrap:nth-child(10)>div>div input[type="text"] {
	border: none;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 0px 20px;
	height: 50px;
	width: 735px;
	font-size: 16px;
	font-weight: 900;
}

#teacherSpace .inp-wrap:nth-child(10)>div>div input[type="button"] {
	width: 156px;
	height: 50px;
	font-size: 16px;
	background-color: #8e0032;
	margin-left: 8px;
	color: white;
	font-weight: 900;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

#teacherSpace .inp-wrap:nth-child(10)>div>div input:focus {
	outline: none;
}

#teacherSpace .inp-wrap:nth-child(10)>div>input[type="text"]:nth-child(2)
	{
	width: 905px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.6);
	margin: 8px 0px 0px;
	padding: 0px 20px;
	border: none;
}

#teacherSpace .inp-wrap:nth-child(10)>div>input[type="text"]:nth-child(2):focus
	{
	outline: none;
}

#teacherSpace .inp-wrap:nth-child(10)>div>input[type="text"]:nth-child(3)
	{
	width: 100%;
	height: 50px;
	margin-top: 8px;
	padding: 0px 20px;
	background: white;
	border: none;
	font-size: 15px;
	font-weight: 700;
}

#teacherSpace .inp-wrap:nth-child(10)>div>input[type="text"]:nth-child(3):focus
	{
	outline: none;
	border: 2px solid #8e0032;
}

#teacherSpace .inp-wrap:nth-child(10)>div>input[type="text"]:nth-child(3)::placeholder
	{
	color: #b7b7b7;
}

#teacherSpace .inp-wrap:nth-child(11), #teacherSpace .inp-wrap:nth-child(12)
	{
	position: relative;
	height: 80px;
	/* background-color: yellow; */
}

#teacherSpace .inp-wrap:nth-child(11)>span:nth-child(1), #teacherSpace .inp-wrap:nth-child(12)>span:nth-child(1)
	{
	display: block;
	height: 23px;
	color: #5b5b5b;
	font-size: 15px;
	margin: 10px 0px 8px;
	font-weight: 900;
}

#teacherSpace .inp-wrap:nth-child(11)>span:nth-child(1)>small,
	#teacherSpace .inp-wrap:nth-child(12)>span:nth-child(1)>small {
	padding-left: 8px;
	font-size: 14px;
	color: #838383;
	height: 19px;
}

#teacherSpace .inp-wrap:nth-child(11)>span:nth-child(n+3), #teacherSpace .inp-wrap:nth-child(12)>span:nth-child(n+3)
	{
	margin-left: 19px;
}

#teacherSpace .inp-wrap:nth-child(11) input[type="checkbox"],
	#teacherSpace .inp-wrap:nth-child(12) input[type="checkbox"] {
	display: none;
}

#teacherSpace .inp-wrap:nth-child(11) input[type="checkbox"]+label,
	#teacherSpace .inp-wrap:nth-child(12) input[type="checkbox"]+label {
	display: inline-block;
	position: relative;
	padding-left: 25px;
	cursor: pointer;
	font-size: 15px;
	color: #838383;
	font-weight: 700;
}

#teacherSpace .inp-wrap:nth-child(11) input[type="checkbox"]+label::before,
	#teacherSpace .inp-wrap:nth-child(12) input[type="checkbox"]+label::before
	{
	content: '';
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	top: 2px;
	left: 0;
	background-color: white;
	text-align: center;
	border: 0.5px solid #838383;
	border-radius: 8px;
}

#right01 .inp-wrap:nth-child(11) input[type="checkbox"]:checked+label::before,
	#right01 .inp-wrap:nth-child(12) input[type="checkbox"]:checked+label::before
	{
	content: '';
	font-size: 15px;
	font-weight: 900;
	/* color: red; */
	background-color: #8e0032;
	text-align: center;
}

#right01 .inp-wrap:nth-child(11) input[type="checkbox"]:checked+label::after,
	#right01 .inp-wrap:nth-child(12) input[type="checkbox"]:checked+label::after
	{
	content: '';
	position: absolute;
	top: 7px;
	left: 5px;
	width: 7px;
	height: 7px;
	background-color: white;
	border-radius: 3.5px;
}

#teacherSpace .inp-wrap:nth-child(13) {
	height: 141px;
	/* background-color: tomato; */
}

#right01 .inp-wrap:nth-child(13)>span:nth-child(1) {
	display: block;
	height: 22px;
	color: #5b5b5b;
	font-size: 15px;
	margin: 15px 0px 8px;
	font-weight: 900;
}

#teacherSpace .inp-wrap:nth-child(13) input[type="radio"] {
	display: none;
}

#teacherSpace .inp-wrap:nth-child(13) input[type="radio"]+label {
	display: block;
	position: relative;
	padding-left: 25px;
	cursor: pointer;
	font-size: 15px;
	color: #838383;
	font-weight: 700;
	margin-top: 15px;
}

#teacherSpace .inp-wrap:nth-child(13) input[type="radio"]+label::before
	{
	content: '';
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	top: 2px;
	left: 0;
	background-color: white;
	text-align: center;
	border: 0.5px solid #838383;
	border-radius: 8px;
}

#teacherSpace .inp-wrap:nth-child(13) input[type="radio"]:checked+label::before
	{
	content: '';
	font-size: 15px;
	font-weight: 900;
	/* color: red; */
	background-color: #8e0032;
	text-align: center;
}

#teacherSpace .inp-wrap:nth-child(13) input[type="radio"]:checked+label::after
	{
	content: '';
	position: absolute;
	top: 7px;
	left: 5px;
	width: 7px;
	height: 7px;
	background-color: white;
	border-radius: 3.5px;
}

#teacherSpace .inp-wrap:nth-child(13) input[type="radio"]:checked+label
	{
	color: black;
}

#teacherSpace #btn-form-wrap {
	height: 64px;
	margin: 252px 0px 0px;
}

#teacherSpace #btn-form-wrap #complete  {
	float: right;
	font-size: 18px;
	height: 64px;
	width: 168px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}

#teacherSpace #btn-form-wrap #complete {
	background: #8e0032;
	color: white;
	margin-left: 12px;
}

#teacherSpace #btn-form-wrap input[type="button"]:nth-child(2) {
	background: white;
	color: #2e2e2e;
}
/* 임시저장 버튼 */
#teacherSpace #btn-form-wrap>#go {
	float: right;
	font-size: 18px;
	height: 64px;
	width: 168px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	background: white;
	color: #2e2e2e;
}
/* ////////////////////////////////////////////////////////////////////////////// */
/* 썸네일 관련 css */
/* /////////////////////////////////////////////////////////////////////////// */
#teacherSpace #mainThum img {
	width: 100%;
	height: 100%;
}

#teacherSpace #mainThum p {
	text-overflow: ellipsis;
	display: inline-block;
	overflow: hidden;
}

#teacherSpace #mainThum .preview-box {
	width: 100%;
	height: 100%;
	/* border: 1px solid; */
	margin: 0px;
	padding: 0px;
	position: relative;
	bottom: 269px;
}

#teacherSpace #mainThum button {
	width: 10px;
	height: 10px;
	padding: 0px;
	margin: 0px;
	font-weight: 900;
	float: right;
	position: relative;
	right: 30px;
}

#teacherSpace #mainThum button:hover {
	color: #8e0032;
}

#teacherSpace #detailThum img {
	width: 100%;
	height: 100%;
}

#teacherSpace #detailThum p {
	text-overflow: ellipsis;
	display: inline-block;
	overflow: hidden;
}

#teacherSpace #detailThum .preview-box {
	width: 100%;
	height: 100%;
	/* border: 1px solid; */
	margin: 0px;
	padding: 0px;
	position: relative;
	bottom: 430px;
}

#teacherSpace #detailThum button {
	width: 10px;
	height: 10px;
	padding: 0px;
	margin: 0px;
	font-weight: 900;
	float: right;
	position: relative;
	right: 30px;
}

#teacherSpace #detailThum button:hover {
	color: #8e0032;
}
/* 9장 상세 이미지 style */
#teacherSpace #input-detail-img {
	display: inline-block;
	overflow: hidden;
}

#teacherSpace #input-detail-img img {
	width: 100%;
	height: 100%;
}

#teacherSpace #input-detail-img p {
	text-overflow: ellipsis;
	display: inline-block;
	overflow: hidden;
}

#teacherSpace #input-detail-img .preview-box {
	width: 195px;
	height: 175px;
	background-color: white;
	text-align: center;
	margin-left: 20px;
	float: left;
	padding-top: 15px;
	position: relative;
	bottom: 48px;
	margin-top: 25px;
}

#teacherSpace #input-detail-img button {
	width: 10px;
	height: 10px;
	padding: 0px;
	margin: 0px;
	font-weight: 900;
	padding-left: 10px;
	vertical-align: top;
	/* padding-bottom: 63px; */
	position: relative;
	bottom: 4px;
}

#teacherSpace .hashTxt {
	width: 130px !important;
	height: 30px !important;
	margin-right: 7px !important;
	padding: 1px 0 0 28px !important;
	border: 1px solid #bbb !important;
	border-radius: 17px !important;
	font-size: 19px !important;
	line-height: 32px !important;
	color: #2e2e2e !important;
	margin-top: 9px;
}

#teacherSpace .hashTxt:focus {
	outline: none;
}

#teacherSpace .delHash {
	width: 15px;
	height: 15px;
	padding: 0;
	margin: 0;
	/* background-color: orange; */
	position: relative;
	right: 29px !important;
	top: 3px;
}

#teacherSpace .delHash img {
	width: 15px;
	height: 15px;
	padding: 0;
	margin: 0;
	position: relative;
    bottom: 2px;
	
}

#hashField {
	margin-top: 30px;
}

#oftenQuestion {
	width: 905px;
	height: 63px;
	padding: 0px 18px;
	background-color: #5b5b5b;
	display: inline-block;
}

#oftenQuestion strong {
	font-size: 16px;
	color: white;
	position: relative;
	top: 20px;
	height: 43px;
	display: block;
	padding-left: 10px;
}

#oftenQuestion button {
	display: block;
	width: 63px;
	height: 63px;
	padding: 0;
	margin: 0;
	float: right;
	position: relative;
	right: 10px;
	bottom: 20px;
	border-radius: 51px
}

#teacherSpace .qnaInner {
	width: 905px;
	height: 483px;
	padding: 20px 27px 5px;
	position: relative;
	right: 28px;
	top: 20px;
	background-color: white;
	border-bottom: 1px solid #dad0d0;
}

#teacherSpace .qnaInner1 {
	width: 851px;
	height: 194px;
}

#teacherSpace .qnaInner2 {
	width: 851px;
	height: 264px;
	padding: 35px 0px;
}

#teacherSpace .qna-title {
	margin: 0px -7px 20px;
	font-size: 14px;
	color: #838383;
	display: inline-block;
	
}

#teacherSpace .qna-textarea {
	width: 851px;
	height: 132px;
	background-color: #f6f5f5;
	margin: -2px 0px 20px;
	padding: 16px 20px;
	border: none;
	font-weight: bold;
}

#teacherSpace .qna-textarea:focus {
	outline: none;
	border: 2px solid #8e0032;
}

#teacherSpace .qna-textarea::placeholder {
	font-weight: bold;
	color: #b7b7b7;
}
/* 해쉬태그 더하기 버튼 */
#teacherSpace #addHash {
	margin: 0px;
	padding: 0px;
	width: 20px;
	height: 20px;
	float: right;
	position: relative;
	bottom: 35px;
	right: 20px;
}
/* 공간등록상에서의 체크박스 고치기 */
#teacherSpace .checkboxSection {
	min-height: 169px;
}

#teacherSpace .checkboxSection div#WrapWidth3 {
	width: 266px;
}

#teacherSpace>h4 {
	display: block;
	height: 22px;
	color: #5b5b5b;
	font-size: 15px;
	margin: 0px 0px 8px;
	font-weight: 900;
}

#teacherSpace .checkboxSection p {
	width: 843px;
	border-bottom: 1px solid black;
	padding-bottom: 34px;
}

#teacherSpace #uploadForm {
	height: 1px;
	overflow: hidden;
}

/* 다음 버튼  */
#teacherSpace #btn-norental {
	border-radius: 3px;
	
	width: 168px;
	height: 64px;
	font-size: 18px;
	font-weight: 600;
	line-height: 64px;
	color: white;
	background-color: #8E0032;
	margin-top: 153px;
	margin-right: 107px;
	float: right;
}