#content {
	margin: 20px auto 0;
	padding: 0 20px;
	width: 1240px;
}

span {
	color: #7F7F7F;
	font-weight: 600;
	font-size: 14.5px;
}

/* 전문가명  */
.expert-name {
	color: black;
	font-size: 18.72px;
	font-weight: normal;
}

/* after */
#new-content span:nth-child(1)::after, #new-content span:nth-child(2)::after {
	content: "";
	display: inline-block;
	position: relative;
	left: 6px;
	border: 1px solid #e4e4e4;
	margin-right: 5px;
	height: 12px;
}

#new-content span.info-sortation::after {
	border: none;
	display: none;
}

div>span:nth-child(1), div>span:nth-child(2) {
	padding-right: 5px;
}

/* title */
#new-content>div>h1, #all-content>div>h1 {
	margin-top: 20px;
	font-size: 24px;
	font-weight: 800;
}

/* new contents */
/* #new-content>ul {
	overflow: hidden;
	display: flex;
	margin-top: 25px;
} */

/* #new-content .bxslider li {
	padding-right: 15px;
} */

#new-content .bxslider img {
	width: 340px;
	height: 340px;
	margin-bottom: 12px;
}

#new-content .bxslider h2 {
	font-size: 19px;
	font-weight: 600;
}

#new-content .bxslider p {
	line-height: 1.45;
	font-size: 17px;
	margin-bottom: 5px;
}


/* AD */
#content>div:nth-child(2) {
	margin-top: 70px;
	
}


#content>div:nth-child(2) img {
	width: 100%;
}

/* class */
#all-content {
	margin-top: 70px;
}