<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
  <mapper namespace="kr.co.openkitchen.class">
		<select id="selectAll" resultType="cdto">
  			SELECT C_NO, C_NAME, C_SHORTINTRO, C_MAINSUMNAIL, C_DETAILSUMNAIL, C_LONG_INTRO,
  				   C_REFERENCE, C_PRICE, C_PERSTATUS, C_TYPE, C_HASHTAG, C_REGDATE, C_MINRECRUITPERSON, C_MAXRECRUITPERSON
  			       , T_NO
  			FROM CLASS
  		</select>
  		
  		<select id="selectDetailC" resultType="dcdto" parameterType="int">
  			SELECT DISTINCT C_DETAILSUMNAIL, C_NAME, C_SHORTINTRO, C_HASHTAG, C_PRICE, C_MINRECRUITPERSON, C_MAXRECRUITPERSON, 
  			       TO_CHAR(C_LONGINTRO) C_LONGINTRO, TO_CHAR(C_REFERENCE) AS C_REFERENCE, T.T_NO, T_HAVENICKNAME, T_EXPERT, T_EXPERTNAME, 
  			       S.S_NO AS S_NO, S_LOC, S_TYPE, S_MAINSUMNAIL, M_MAINSUMNAIL
			FROM CLASS C ,  RECRUIT REC , RENTAL REN , LEASE L , SPACE S , TEACHER  T, MEMBER M
			WHERE  C.C_NO = REC.C_NO
			AND REC.REN_NO = REN.REN_NO
			AND T.T_NO = REN.T_NO AND T.T_NO = M.M_NO
			AND L.L_NO = REN.L_NO
			AND S.S_NO = L.S_NO AND C.C_NO = #{cNo}
  		</select>
  		
  		<select id="selectDetailCSche" resultType="dcsdto" parameterType="map">
  			SELECT C.C_NO, REC.REC_NO, L_LEASEDATE, L_LEASETIME, L_PERSTATUS, COUNT(E.REC_NO) C_PERSON, C_MAXRECRUITPERSON 
			FROM  CLASS C, RECRUIT REC, ENROL E, RENTAL REN, LEASE L
			WHERE C.C_NO = REC.C_NO AND REC.REC_NO = E.REC_NO(+) AND
			      REC.REN_NO = REN.REN_NO AND REN.L_NO = L.L_NO AND C.C_NO = #{cNo}
			GROUP BY C_MAXRECRUITPERSON, L_LEASEDATE, L_LEASETIME, L_PERSTATUS, C.C_NO, REC.REC_NO
			<choose>
				<when test="#{type}">
					ORDER BY DECODE(L_PERSTATUS,'진행','1','종료','2'), L_LEASEDATE ASC    
				</when>
				<otherwise>
					ORDER BY L_LEASEDATE ASC	
				</otherwise>
			</choose>
  		</select>
  		
  		<select id="selectManwonC" resultType="mcdto">
  			SELECT C_NO, C_NAME, C_MAINSUMNAIL, C_PRICE, C_TEMA, T_AREA, T_EXPERT
			FROM CLASS C, TEACHER T
			WHERE C.T_NO = T.T_NO AND C_TYPE = '일반'
  		</select>
  		
  		<select id="selectOnlyOneC" resultType="mcdto">
  			SELECT C_NO, C_NAME, C_MAINSUMNAIL, C_PRICE, C_TEMA, T_AREA, T_EXPERT
			FROM CLASS C, TEACHER T
			WHERE C.T_NO = T.T_NO AND C_TYPE = '1명'
  		</select>
  		
  		
  		<select id="selectPopularC" resultType="pcdto" parameterType="map">
  			
  			SELECT C_NO, C_NAME, C_MAINSUMNAIL, C_SHORTINTRO, C_TEMA, C_PRICE, T_AREA, T_EXPERT
			FROM CLASS C, TEACHER T
			WHERE C.T_NO = T.T_NO AND 
			REGEXP_LIKE (C_HASHTAG, 
			<foreach collection="popularList" item="item" separator="||'|'||">
				#{item}
			</foreach>
			) AND ROWNUM &lt;= 8
  		</select>
  		
  		<select id="selectBestC" resultType="bcdto" parameterType="map" >
  			SELECT C.C_NO, C_NAME, C_MAINSUMNAIL, C_SHORTINTRO, C_TEMA, C_PRICE, T_AREA, T_EXPERT, REC_PERSTATUS, COUNT(REC_PERSTATUS) CNT
			FROM CLASS C, TEACHER T, RECRUIT R
			WHERE C.T_NO = T.T_NO AND C.C_NO = R.C_NO AND
			R.REC_PERSTATUS = '종료' AND
			REGEXP_LIKE (C_HASHTAG, 
			<foreach collection="popularList" item="item" separator="||'|'||">
				#{item}
			</foreach>
			)
			GROUP BY C.C_NO, C_NAME, C_MAINSUMNAIL, C_SHORTINTRO, C_TEMA, C_PRICE, T_AREA, T_EXPERT, REC_PERSTATUS
			ORDER BY CNT DESC
  		</select>
  		
  		<select id="selectPaymentC" resultType="pmcdto" parameterType="int">
  			SELECT C.C_NAME, C.C_PRICE, C.C_DETAILSUMNAIL, L.L_LEASEDATE, L.L_LEASETIME, T.T_HAVENICKNAME, 
  			       T.T_EXPERTNAME, S.S_LOC
			FROM CLASS C, RECRUIT REC, RENTAL REN, TEACHER T, LEASE L, SPACE S
			WHERE C.C_NO = REC.C_NO AND REC.REN_NO = REN.REN_NO AND
			      REN.T_NO = T.T_NO AND REN.L_NO = L.L_NO AND L.S_NO = S.S_NO
			      AND REC.REC_NO = #{no}
  		</select>
  		
  </mapper>
