<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
  <mapper namespace="kr.co.openkitchen.class">
		<select id="selectAll" resultType="cdto">
  			SELECT C_NO, C_NAME, C_SHORTINTRO, C_MAINSUMNAIL, C_DETAILSUMNAIL, C_LONG_INTRO,
  				   C_REFERENCE, C_PRICE, C_PERSTATUS, C_TYPE, C_HASHTAG, C_REGDATE, C_MINRECRUITPERSON, C_MAXRECRUITPERSON
  			       , T_NO
  			FROM CLASS
  		</select>
  		
  		<select id="selectDetailOne" parameterType="int">
  			SELECT C_DETAILSUMNAIL, C_NAME, C_SHORTINTRO, C_HASHTAG, C_PRICE, C_MINRECRUITPERSON, C_MAXRECRUITPERSON, C_LONGINTRO, C_REFERENCE, T_HAVENICKNAME, T_EXPERT, T_EXPERTNAME, L_LEASEDATE, L_LEASETIME,L_PERSTATUS, S_LOC
		    FROM(SELECT C_DETAILSUMNAIL, C_NAME, C_SHORTINTRO, C_HASHTAG, C_PRICE, C_MINRECRUITPERSON, C_MAXRECRUITPERSON, C_LONGINTRO, C_REFERENCE, T_HAVENICKNAME, T_EXPERT, T_EXPERTNAME, L_LEASEDATE, L_LEASETIME, L_PERSTATUS, S_NO
		         FROM(SELECT C_DETAILSUMNAIL, C_NAME, C_SHORTINTRO, C_HASHTAG, C_PRICE, C_MINRECRUITPERSON, C_MAXRECRUITPERSON, C_LONGINTRO, C_REFERENCE, T_HAVENICKNAME, T_EXPERT, T_EXPERTNAME, L_NO
		            FROM(SELECT C_DETAILSUMNAIL, C_NAME, C_SHORTINTRO, C_HASHTAG, C_PRICE, C_MINRECRUITPERSON, C_MAXRECRUITPERSON, C_LONGINTRO, C_REFERENCE, T_NO, L_NO
		                FROM(select C_DETAILSUMNAIL, C_NAME, C_SHORTINTRO, C_HASHTAG, C_PRICE, C_MINRECRUITPERSON, C_MAXRECRUITPERSON, 
		                       C_LONGINTRO, C_REFERENCE, REC.REN_NO
		                    FROM CLASS C, RECRUIT REC 
		                    WHERE C.C_NO = REC.C_NO AND C.C_NO = 1) A, RENTAL R 
		                WHERE A.REN_NO = R.REN_NO) B, TEACHER T
		            WHERE B.T_NO = T.T_NO) C, LEASE L
		        WHERE C.L_NO(+) = L.L_NO) D, SPACE S
		    WHERE D.S_NO = S.S_NO
  		</select>
  		
  		<select id="selectManwonC" resultType="mcdto">
  			SELECT C_NO, C_NAME, C_MAINSUMNAIL, C_PRICE, C_TEMA, T_AREA, T_EXPERT
			FROM CLASS C, TEACHER T
			WHERE C.T_NO = T.T_NO AND C_TYPE = '일반'
  		</select>
  		
  		<select id="selectOnlyOneC" resultType="mcdto">
  			SELECT C_NO, C_NAME, C_MAINSUMNAIL, C_PRICE, C_TEMA, T_AREA, T_EXPERT
			FROM CLASS C, TEACHER T
			WHERE C.T_NO = T.T_NO AND C_TYPE = '1명'
  		</select>
  		
  		
  		<select id="selectPopularC" resultType="pcdto" parameterType="map">
  			SELECT C_NO, C_NAME, C_MAINSUMNAIL, C_SHORTINTRO, C_TEMA, C_PRICE, T_AREA, T_EXPERT
			FROM CLASS C, TEACHER T
			WHERE C.T_NO = T.T_NO AND 
			REGEXP_LIKE (C_HASHTAG, 
			<foreach collection="popularList" item="item" separator="||'|'||">
				#{item}
			</foreach>
			)
  		</select>
  </mapper>