<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.openkitchen.dto.MemberDTO" >
	<select id="selectUserData" resultType="mbdto">
		select *
		from member
		where M_EMAIL = #{mEmail}
		
	</select>
	<insert id="signUpInsert" parameterType="mbdto" >
		INSERT INTO member (
			M_NO,
			M_EMAIL,
			M_PWD,
			M_NAME
			)
		VALUES (
			31,
			#{mEmail},
			#{mPwd},
			#{mName}
			)
	</insert>
	<select id="selectPaymentM" resultType="pmdto" parameterType="int">
		SELECT M_NAME, M_PHONE, M_BIRTH, M_GENDER, MG_STORAGE, C_TYPE, PT_STORAGE
		FROM MEMBER MEM, MILEAGE MG, COUPON CP, POINT PT
		WHERE MEM.M_NO = MG.M_NO(+) AND MEM.M_NO = CP.M_NO(+) AND MEM.M_NO = PT.M_NO(+) AND
      	MEM.M_NO = #{mNo}	
	</select>

	
</mapper>