<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.openkitchen.mypage">
	
<select id="mypageInfo" parameterType="int" resultType="mydto">

		SELECT  MIX.T_PERSTATUS,MIX2.C_PERSTATUS,S_PERSTATUS,M.M_NAME, ROWNUM
		FROM
		(SELECT NVL(T_PERSTATUS,'NOINFO') T_PERSTATUS
		FROM TEACHER RIGHT OUTER JOIN DUAL
		ON T_NO=#{mNo}) MIX ,
		( SELECT NVL(C_PERSTATUS,'NOINFO') C_PERSTATUS
		FROM CLASS RIGHT OUTER JOIN DUAL
		ON T_NO=#{mNo}
        
        ORDER BY C_REGDATE DESC 
       
        ) MIX2,(SELECT NVL(S_PERSTATUS,'NOINFO') S_PERSTATUS
		FROM SPACE RIGHT OUTER JOIN DUAL
		ON H_NO=#{mNo}) S,(SELECT M_NAME FROM MEMBERINFO WHERE M_NO=#{mNo}) M
        WHERE ROWNUM=1


	</select>
	<insert id="insertWishlist" parameterType="map">
		INSERT INTO WISHLIST
		<choose>
			<when test="type=='space'">
				VALUES(WISHLIST_SEQ.NEXTVAL,SYSDATE,#{mNo},#{number},0,0)
			</when>
			<when test="type=='class'">
				VALUES(WISHLIST_SEQ.NEXTVAL,SYSDATE,#{mNo},0,#{number},0)
			</when>
			<otherwise>
				VALUES(WISHLIST_SEQ.NEXTVAL,SYSDATE,#{mNo},0,0,#{number})
			</otherwise>
		</choose>
	</insert>
	
	<select id="selectWishlist" parameterType="map" resultType="int">
		SELECT NVL( MAX(W_NO), -1) AS W_NO
		FROM WISHLIST
		<choose>
			<when test="type=='space'">
				WHERE M_NO=#{mNo} AND S_NO=#{number}
			</when>
			<when test="type=='class'">
				WHERE M_NO=#{mNo} AND C_NO=#{number}
			</when>
			<otherwise>
				WHERE M_NO=#{mNo} AND T_NO=#{number}
			</otherwise>
		</choose>
	</select>
		 
	<delete id="deleteWishlist" parameterType="map">
		DELETE FROM WISHLIST
		<choose>
			<when test="type=='space'">
				WHERE M_NO=#{mNo} AND S_NO=#{number}
			</when>
			<when test="type=='class'">
				WHERE M_NO=#{mNo} AND C_NO=#{number}
			</when>
			<otherwise>
				WHERE M_NO=#{mNo} AND T_NO=#{number}
			</otherwise>
		</choose>
	</delete>
	
	<resultMap type="map" id="selectRCList">
		<result column="M_NO" property="mNo"/>
		<result column="M_NAME" property="mName"/>
		<result column="M_MAINSUMNAIL" property="mMainsumnail"/>
		<result column="E_NO" property="eNo" />
		<result column="C_NO" property="cNo"/>
		<result column="E_DATE" property="eDate"/>
		<result column="REN_NO" property="renNo"/>
		<result column="S_NO" property="sNo" />
		<result column="REN_DATE" property="renDate"/>
	</resultMap>	
	
	<select id="selectReviewCheck" resultMap="selectRCList" parameterType="map">
		<choose>
			<when test="type=='class'">
			  SELECT E.E_NO, E.E_DATE, R.C_NO, M.M_NO, M.M_NAME, M_MAINSUMNAIL
			  FROM (SELECT M_NO, M_NAME, M_MAINSUMNAIL
      		  FROM MEMBER
			  WHERE M_NO NOT IN(SELECT M_NO
                       		    FROM MEMBER M, TEACHER T, HOST H
                        	    WHERE M_NO = T_NO AND M_NO = H_NO)) M, ENROL E, RECRUIT R
			 WHERE M.M_NO = E.M_NO AND E.REC_NO = R.REC_NO
		     AND M.M_NO = #{mNo} AND R.C_NO = #{number} AND R.REC_PERSTATUS = '종료' AND E.E_STATUS = '예약확정'
		     AND (E.E_NO, R.C_NO) NOT IN (SELECT RESULT_NO, C_NO 
                                   		  FROM REVIEW)	
			</when>
			<when test="type=='space'">
			 SELECT R.REN_NO,R.REN_DATE, S.S_NO, M.M_NO, M.M_NAME, M_MAINSUMNAIL
			 FROM (SELECT M_NO, M_NAME, M_MAINSUMNAIL
			 		FROM MEMBER
      				WHERE M_GRADE = 'ROLE_USER') M, TEACHER T, RENTAL R, LEASE L, SPACE S
			 WHERE M.M_NO = T.T_NO AND T.T_NO = R.T_NO AND R.L_NO =L.L_NO AND L.S_NO = S.S_NO
      		 AND T.T_NO = #{mNo} AND L.S_NO= #{number} AND R.REN_STATUS = '예약확정' AND L.L_PERSTATUS = '종료'
      		 AND T.T_NO != S.H_NO AND (R.REN_NO, S.S_NO) NOT IN (SELECT RESULT_NO, S_NO
                                                                 FROM REVIEW)
			</when>
		</choose>
	</select>
	
	<resultMap type="map" id="selectRIList">
		<result column="M_NAME" property="mName"/>
		<result column="M_MAINSUMNAIL" property="mMainsumnail"/>
		<result column="RV_CONTENT" property="rvContent" javaType="String"/>
		<result column="RV_SCORE" property="rvScore"/>
		<result column="RV_DATE" property="rvDate"/>
	</resultMap>
		
	<select id="selectReviewInfo" resultMap="selectRIList" parameterType="map">
		SELECT M.M_NAME, M.M_MAINSUMNAIL, R.RV_CONTENT, R.RV_SCORE, R.RV_DATE
		FROM REVIEW R, MEMBER M
		<choose>
			<when test="type=='class'">
		      	WHERE R.M_NO = M.M_NO AND R.C_NO = #{number}	
			</when>
			<when test="type=='space'">
				WHERE R.M_NO = M.M_NO AND R.S_NO = #{number}
			</when>
		</choose>
	</select>
	
	<insert id="insertReview" parameterType="addto">
     	<selectKey keyProperty="rvNo" order="AFTER" resultType="int">
     		SELECT REVIEW_SEQ.currval FROM DUAL
     	</selectKey>
		INSERT INTO REVIEW
		VALUES(REVIEW_SEQ.NEXTVAL, #{rvContent},#{rvScore}, SYSDATE,#{mNo}, #{sNo}, #{cNo},#{resultNo})
	</insert>
	<!-- 리펙토링이 필요해 보임 reviewinfo하고 중복성이 크다  -->
	<select id="insertReviewCheck" resultMap="selectRIList" parameterType="addto">
		SELECT M.M_NAME, M.M_MAINSUMNAIL, R.RV_CONTENT, R.RV_SCORE, R.RV_DATE
		FROM REVIEW R, MEMBER M
		WHERE R.M_NO = M.M_NO AND R.RV_NO = #{rvNo}		
	</select>
	
	
</mapper>