<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.openkitchen.mypageOpenClass">
	<select id="standByClassList" parameterType="int" resultType="sbcdto">
select /*+ use_nl(T,C) */
		C.C_MAINSUMNAIL,C.C_NAME,TO_CHAR(C.C_REGDATE,'YYYY-MM-DD')
		cRegdate
		from
		TEACHER T ,CLASS C
		WHERE
        T.T_NO=#{genericOne}
	    AND	T.T_NO=C.T_NO
		AND C.C_PERSTATUS='신청'


	</select>

	<select id="cookRefundList" parameterType="int"
		resultType="credto">
		SELECT /*+ use_nl(MIX3,L) */
		MIX3.C_MAINSUMNAIL,MIX3.C_NAME,TO_CHAR(L.L_LEASEDATE,'YYYY-MM-DD')
		lLeasedate,L.L_LEASETIME
		FROM (SELECT /*+ use_nl(MIX2,REN) */
		MIX2.C_MAINSUMNAIL,MIX2.C_NAME,REN.L_NO
		FROM(select /*+ use_nl(MIX1,C) */
		C.C_MAINSUMNAIL,C.C_NAME,MIX1.REN_NO
		FROM CLASS C,(select /*+ use_nl(R,E) */
		REC.REN_NO,E.REC_NO,REC.C_NO
		from
		RECRUIT REC,ENROL E
		WHERE
		E.M_NO=#{genericOne}
		AND REC.REC_NO=E.REC_NO
		AND
		E.E_STATUS='예약취소') MIX1
		WHERE C.C_NO =MIX1.C_NO) MIX2 , RENTAL REN
		WHERE MIX2.REN_NO=REN.REN_NO) MIX3 , LEASE L
		WHERE MIX3.L_NO=L.L_NO



	</select>
	<select id="cookEndList" parameterType="int"
		resultType="credto">
		SELECT /*+ use_nl(MIX3,L) */
		MIX3.C_MAINSUMNAIL,MIX3.C_NAME,TO_CHAR(L.L_LEASEDATE,'YYYY-MM-DD')
		lLeasedate,L.L_LEASETIME
		FROM (SELECT /*+ use_nl(MIX2,REN) */
		MIX2.C_MAINSUMNAIL,MIX2.C_NAME,REN.L_NO
		FROM(select /*+ use_nl(MIX1,C) */
		C.C_MAINSUMNAIL,C.C_NAME,MIX1.REN_NO
		FROM CLASS C,(select /*+ use_nl(R,E) */
		REC.REN_NO,E.REC_NO,REC.C_NO
		from
		RECRUIT REC,ENROL E
		WHERE
		E.M_NO=#{genericOne}
		AND REC.REC_NO=E.REC_NO
		AND REC.REC_PERSTATUS='종료'
        AND E.E_STATUS='예약확정'
        ) MIX1
		WHERE C.C_NO =MIX1.C_NO) MIX2 , RENTAL REN
		WHERE MIX2.REN_NO=REN.REN_NO) MIX3 , LEASE L
		WHERE MIX3.L_NO=L.L_NO



	</select>





</mapper>