<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
  <mapper namespace="kr.co.openkitchen.class">
		<select id="selectAll" resultType="cdto">
  			SELECT C_NO, C_NAME, C_SHORTINTRO, C_MAINSUMNAIL, C_DETAILSUMNAIL, C_LONG_INTRO,
  				   C_REFERENCE, C_PRICE, C_PERSTATUS, C_TYPE, C_HASHTAG, C_REGDATE, C_MINRECRUITPERSON, C_MAXRECRUITPERSON
  			       , T_NO
  			FROM CLASS
  		</select>
  		
  		<select id="selectManwonC" resultType="mcdto">
  			SELECT C_NO, C_NAME, C_MAINSUMNAIL, C_PRICE, T_AREA, T_EXPERT
			FROM CLASS C, TEACHER T
			WHERE C.T_NO = T.T_NO AND
      		C_TYPE = '만원'
  		</select>
  		
  		<select id="selectPopularC" resultType="mcdto" parameterType="hashmap">
  			select *
  			from class
  			<trim prefix="WHERE" prefixOverrides="AND | OR">
  				<if test="">
  					OR C_HASHTAG #{popularKey1}
  				</if>
			</trim>
  		</select>			
  </mapper>