#contents_border {
    width: 965px;

}

#contents_border img{
    width: 100%; height: 185px;
}
#contents_border h3{
    margin: 24px 0 3px;
}
#contents_border .Price{
    margin-bottom: 8px;
}
#contents_border > a > ul{
    overflow: hidden;
}
#contents_border > a > ul > li{
    margin: 0 10px 20px 0;
    width: 294px; height: 340px;
    overflow: hidden;
    float: left;
}


.date-wrapper > .date{
    padding-right: 7px;
    position: relative;
    color: rgba(0, 0, 0, 0.4);
}

/* 공간 대여 시간과 상태를 가지고 있는 영역 */
.time-wrapper > .space-status {
    display: inline-block;
}

.time-wrapper > .space-status:nth-child(2) {
    margin: 0 4.9px
}

/* 공간 대여 시간 출력 */
.space-status > .time-status {
    border: 1px solid gray;
    border-radius: 40px;
    padding: 3px;
    font-size: 16px;
    display: block;
    margin-bottom: 0.3em;
    /* background-color: #959595; */

}

/* 공간 상태 출력 */
.space-status > .more-status{
    position: relative;
    font-size: 15px;
    margin-left: 1.5em;
}

/* 상태값 아이콘 */
.more-status > .ico-more_arrow {
    /* content가 없기때문에 공간을 확보 
    사전처리로 inline속성을 변경해줘야됨
    */

    width: 18px;
    height: 18px;
    /* 글자와 아이콘을 벌리는 역할 */
    margin-left: 8px;
    /* 글자와 아이콘의 중앙정렬 오차를 줄이기 위함 */
    margin-bottom: 4px;
    /* 태그의 배경에 이미지를 씌움 */
    background-image: url(../img/ico-more_type2-grey.png);
    /* i태그는 inline형태라 사이즈를 변경 할 수 없음
    inline-block 속성으로 바꿔 사이즈를 변경 할 수 있게함.
    */
    display: inline-block;
    /* 배경 이미지 크기조절 속성 */
    background-size: 100% auto;
    /* 배경 이미지의 위치를 지정
    가로, 세로의 위치를 지정(x, y)
    */
    background-position: 50% 50%;
    /* repeat : 이미지를 어떻게 배열 할 것인지 선택 
    no-repeat : 반복 배열하지 않음
    */
    background-repeat: no-repeat;
    vertical-align: middle;
}

/* paging 아이콘 출력 영역 */
.contents-paging {
    margin-top: 34px;
    text-align: center;
}

/* prev, next 아이콘 통합 설정 

*/
.contents-paging > .paging-wrapper > .extra {
    /* 공간을 한정짓기 위해 포지션 relative 설정 */
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/ico-arrow_right.png) no-repeat 50% / 7px auto;
    transform: rotate(180deg);
    vertical-align: middle;

}

/* next 아이콘 설정 
   이 방식은 무엇인가..?  
*/
.contents-paging > .paging-wrapper > ul ~ .extra {
    transform: rotate(0deg);
}

/* minus-next 아이콘 출력 */
.contents-paging > .paging-wrapper > .extra:first-child::after {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    width: 100%;
    height: 100%;
    background: url(../img/ico-arrow_right.png) no-repeat 50% / 7px auto;;
}

/* plust-next 아이콘 출력 */
.contents-paging > .paging-wrapper > .extra:last-child::after {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    width: 100%;
    height: 100%;
    background: url(../img/ico-arrow_right.png) no-repeat 50% / 7px auto;;
}

/* 데이터량의 따라 늘어나는 숫자를 담고있는 영역 */
.contents-paging > .paging-wrapper > ul {
    display: inline-block;
    margin: 0 8px;
}

/* 페이징 숫자를 출력하는 영역  */
.contents-paging > .paging-wrapper > ul > li {
    display: inline-block;
    margin: 0 12px;
    position: relative;
    font-size: 18px;
    font-weight: 600;

}

/* 현재 숫자를 표시하는 부분 */
.contents-paging > .paging-wrapper > ul > li::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #8E0032;
}

#pop_share {
/* 내용이 잘리게 될때 스크롤바가 보이도록 설정한다. */
    overflow: auto;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 81px 25px 0;
    /* 반투명 설정 */
    background: rgba(0, 0, 0, 0.67);
    display: none;
   
}

/* 팝업창에 대한 css 설정 */    
#pop_inner {
    margin: 95px auto;
    /* 내용물이 가운데로 오도록 설정 */
    padding: 40px 2em;
    /* 550으로 잡아주어야 팝업창 모양이 나온다 안잡아주면 너무 김. */
    max-width: 550px;
    position: relative;
    background: white;
}

/* #pop_title {
    text-align: center;
    font-size: 24px !important;
    font-weight: 800;
    margin-bottom: 0.3em;        
}  */

#pop_content {
    height: 100%;
}



/* /////////////////////////////////////닫기 버튼 설정 시작//////////////////////////////////////// */

#pop_share > #pop_inner > #btn-close {
    position: absolute;
    top: 0;
    left: 100%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background: url(../img/btnCloseWhite.png) no-repeat 50%/30px auto;
}

/* 공간을 대여한 클래스와 선생님에 대한 정보 */
.rental_info {
   text-align: center;
   padding-bottom: 1em;
   margin-bottom: 1em;
   border-bottom: 2px solid #e5e5e5     
}

/* 클래스 이미지 감싸는 wrapper */
.rental_info > figure {
    display: inline-block;
    vertical-align: middle;

}

/* 클래스 이미지 */
.rental_info > figure > img {
    width: 130px;

}

/* 클래스의 정보와 선생님 정보를 감싸는 wrapper */
.rental_info > ul {
    display: inline-block;
    vertical-align: middle;
}

/* 출력정보 항목 */
.rental_info > ul > li > dl > dt {
    clear: both;
    float: left;
    min-width: 5em;
    
}

/* 출력정보 내용  */
.rental_info > ul > li > dl > dd {
    float: left;
}

/* 클래스 이름 */
.rental_info > ul > li:first-child {
    padding-bottom: 0.4em;
    font-size: 22px;
    font-weight: 600;
}

 /* 이미지 회색 필터 */
 #contents_border > a > ul > li > img{
    -webkit-filter: grayscale(100%);
    filter: gray;     
}